@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background-color: #edf1fd;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.7rem;
  background-color: transparent ;
}

html::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #2a2e3b;
}

.mask{

  /*background-image: url('/images/mask.png');  Maske resmi */
  -webkit-mask-image: url('/images/mask.png'); /* WebKit uyumluluğu */
  mask-image: url('/images/mask.png'); /* Standart uyumluluk */
  background-position: right center; /* Fotoğrafı sağa kaydır */
}